@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin:25px 65px 25px 65px;
    padding:30px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin:0px 65px 80px 65px;
    padding-left:30px;
    padding-right:30px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display:inline-block;
    margin: 0px 115px 80px 65px;
    
}